header{
    background-image:url('../img/LosAngeles/LosAngeles\ fundo.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-fluid{
    width: 400px;
}