body{
    background-color: rgb(94, 94, 94);
}
@media (max-width: 3000px){
    .container-fluid {
    width: 60%;
    margin: 0px auto;
    }
}
@media (max-width: 800px){
    .container-fluid {
    width: 100%;
    height: 100%;
    }
}